<section>
        <div class="form-box">
            <div class="form-value">
                <h2 id="txt-title"></h2>
                <form method="post">
                    <div class="inputbox">
                        <ion-icon name="person"></ion-icon>
                        <input type="text" name="username" id="user" required>
                        <label for="user" id="txt-user"></label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" id="password" required>
                        <label for="password" id="txt-password"></label>
                    </div>
                    <button type="submit" class="btn btn-primary" id="btn-login"></button>
                </form>
            </div>
        </div>
</section>
    <div id="error-message" style="color: red;"></div>

